.app{
 
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    background-color:  #22252D;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
}

.cal_header{
   text-align: center;
}

.display{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 0%;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: right;
    background-color: #292D36;
    padding:1.5rem;
    border-radius: 1.5rem;

}

.input{
    font-size:medium;
    overflow: auto;
    /* min-height: 1rem; */
}

.output{
    font-size:x-large;
    /* min-height: 2rem; */
    overflow: auto;
}


.keys{
    background-color: #292D36;
    padding:1.5rem;
    border-radius: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 1rem;
    box-shadow:0px -2px 16px rgba(0, 0, 0, 0.2);
}

.key{
    cursor: pointer;
    display: block;
    background-color: #262933;
    padding: 30%;
    border-radius:1rem ;
    font-size: 1rem;
    font-weight: bold;
}

.key:hover{
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.operator{
    color: #EB6666;
}

.action{
    color: #26FED7;
}

