.app{
    width: 360px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
    background-color:  #22252D;
    color: white;
    display: flex;
    flex-direction: column;
    border-radius: 1.5rem;
}

.cal_header{
   text-align: center;
}

.display{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.content{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    text-align: right;
    background-color: #292D36;
    padding:1.5rem;
    border-radius: 1.5rem;

}

.operator{
    color: #EB6666;
}

.input{
    font-size:medium;
    overflow: auto;
}

.output{
    font-size:x-large;
    overflow: auto;
}


.keys{
    background-color: #292D36;
    padding:1.5rem;
    border-radius: 1.5rem;
}

